@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");

body {
  margin: 30px;
  padding: 0px;
  font-family: "Heebot", sans-serif;
}

.sign_in {
  width: 295px;
  height: 600px;
  background-color: #f8f8f8;
  border-radius: 40px;
  box-shadow: 15px 15px 20px grey, 1px 1px 10px #f8f8f8 inset;
}

.sign_in .title {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.login_e,
.login_p {
  background-color: white;
  margin: 0px 26px;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 10px;
  font-size: 10px;
  font-weight: 700;
  cursor: text;
  text-decoration: none;
}

input[type="email"],
input[type="password"] {
  margin: 0px;
  font-size: 12px;
  border: none;
  background: none;
  outline: 0px;
  width: 100%;
}

.login_p {
  margin-top: 20px;
  margin-bottom: 15px;
}

.forget-box {
  margin: 0px 26px;
  display: flex;
  justify-content: flex-end;
  color: #e2283e;
  font-size: 10px;
  font-weight: 700;
}

.forget {
  cursor: pointer;
}

.remember {
  margin: 0px 26px 48px 26px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 40%;
  font-size: 11px;
  font-weight: 600;
}

input[type="checkbox"] + label:before {
  content: "\f0c8";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  margin-right: 5px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before {
  content: "\f00c";
  font-weight: 900;
  color: red;
  cursor: pointer;
}

label {
  cursor: pointer;
}

/* 66번째 줄~79번째 줄 주의사항

1. content:"\유니코드" 반드시 입력
2. font-family  반드시 입력
-> 현재 최신 업그레이드 버전으로 입력할 것
3. font-weight 반드시 입력
-> Solid: 900 / Regular(Brands): 400 / Light: 300  */

input[type="checkbox"] {
  display: none;
}

.red {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 26px 26px 15px 26px;
  padding: 10px;
  background-color: #e2283e;
  border-radius: 50px;
  font-size: 10px;
  color: white;
  cursor: pointer;
}

.or {
  margin: 30px 26px;
  font-weight: 700;
  font-size: 10px;
}

.sns {
  margin: 30px 26px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  color: white;
  font-size: 10px;
}

.sns .navy {
  padding: 10px 35px;
  border-radius: 50px;
  background-color: #475a95;
  cursor: pointer;
}

.sns .blue {
  padding: 10px 38px;
  border-radius: 50px;
  background-color: #5da1f2;
  cursor: pointer;
}

.help {
  margin: 34px 26px;
  font-size: 10px;
  font-weight: 700;
  color: grey;
  opacity: 70%;
}

.help .answer_1,
.answer_2 {
  padding-left: 1px;
  color: #e2283e;
  cursor: pointer;
}

.help .question_2,
.answer_2 {
  padding-top: 5px;
}
